<ion-header>
  <ion-toolbar>
    <ion-title>
      Stores
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ng-container *ngIf="!products || products.length == 0; else elseBlock">
          <div *ngFor="let n of [0,1,2]" padding>
            <ion-skeleton-text ></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>

        <ion-item-sliding *ngFor="let item of products">
          <ion-item *ngIf="item.displayinstore" (click)="getProductId(item.id)">
              <ion-label>
                  {{ item.productname }}
                  <h4>{{ item.productcode }}</h4>
                  <p>{{ item.createdat | date:'short' }}</p>
                  
              </ion-label>
                <ion-note slot="end" color="primary">Qty. {{ item.quantity }}<br>Cat. {{ item.category }} </ion-note>
          </ion-item>
        </ion-item-sliding>
        
  </ion-list>
</ion-content>
