<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="home"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="appstore"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" *ngIf="display == IsSeller">
      <ion-icon name="send"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="product">
        <ion-icon name="add"></ion-icon>
        <ion-label>Product</ion-label>
      </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
